<div class="flex items-center justify-center gap-[1rem] m-3">
    <span  data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300">
        HTML
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        CSS
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        JavaScript
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        React
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        NodeJS
    </span>
    
    <span  data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        MongoDB
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        SQL
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        GIT
    </span>
</div>
