<div class="flex items-center justify-center gap-[1rem] mb-8">
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300 ">
        Bootstrap
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300">
        Tailwind
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300">
        Express
    </span>
    
    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300">
        Jquery
    </span>

    <span data-aos="zoom-in" class="bg-gray-800 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded-[200px] dark:text-blue-300">
        GITHUB
    </span>
</div>